body {
	font-size:16px;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#020F1A;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: "Montserrat light";
    src: url('Montserrat-Light.ttf');
}

ul {
	margin: 0px;
	padding:0px;
}

input[type="text"],input[type="email"], textarea {
box-shadow:none !important;
border:1px solid #2BB86C !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none !important;
}

label {
	color:#2BB86C;
}


.navbar-main {
  height: 80px;
  position: absolute;
  width: 100%;
  background-color:transparent ;
  border-radius: 0px;
  top: 0px;
  left: 0px;
  margin-bottom: 0px;
  border: 0px;
  z-index: 1;
}
.navbar-logo {
  position: absolute;
  top: 50%;
  bottom: auto;
  display: block;
  transform: translateY(-50%);
}
.navbar-logo a img {
  height: 50px;
}

.navbar-menu {
	float:right;
}

.navbar-menu ul li {
	display:inline;
	line-height:80px;
	color:white;
}

.navbar-menu a {
	color:white;
  padding: 30px 25px;
}

.navbar-menu a:hover {
	text-decoration:none;
	color:#2EBD59;
}

.navbar-menu a:focus{
	text-decoration:none;
}

.jumbo {
	background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url("images/cox-web2.jpg");
	background-size:cover;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	min-height:75vh;
  background-position: 100% 40%;
	background-repeat: no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
}

.teaser {
	flex:0 1 auto;
	color:white;
}
.teaser h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  text-shadow: 2px 2px 15px #000000;
  font-weight: 700;
}


/*.filter-black  {

}*/

.jumbo h1,h2,h3{
	padding-right: 15px;
  padding-left: 15px;
  text-shadow: 2px 2px 15px #000000;
}

.jumbo h1 {
	font-size:60px;
	font-weight: 700;
}

.navbar-container {
	max-width:1170px;
	margin:0 auto;
}

.tg {
  float:right;
  display:none;
 	width: 54px;
	height: 50px;
	background-color: transparent;
	line-height:80px;
	margin:15px 0;
	position:relative;
	transition: all 0.4s;
	// cursor:pointer;
}

.tg.active:hover {
	-webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

}

.tg .tg1 {
	  content: "";
    position: absolute;
    left: 17px;
    top: 17px;
    width: 20px;
    height: 2px;
    background: white;
}

.tg .tg2 {
	  content: "";
    position: absolute;
    left: 17px;
    top: 24px;
    width: 20px;
    height: 2px;
    background: white;

}

.tg .tg3 {
	  content: "";
    position: absolute;
    left: 17px;
    top: 31px;
    width: 20px;
    height: 2px;
    background: white;
}

.tg.active .tg1 {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
  top: 24px;
}

.tg.active .tg3 {
	-webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 24px;
}

.tg.active .tg2 {
  display:none;
}

// .tg::before {
// 	content: "";
//   position: absolute;
//   left: 17px;
//  	top: 17px;
//   width: 20px;
//   height: 2px;
//   background: white;
//   box-shadow:
//     0 6px 0 0 white,
//     0 12px 0 0 white;
// }

.tg-dropdown {
	position:absolute;
/*	top:80px;*/
	background-color: rgba(0, 0, 0, 1);
	width: 100%;
	display:none;
	    height: 100%;
}

.tg-dropdown ul li {
	color:white;
	list-style:none;
	padding:20px;
	text-align:center;
	font-size: 30px;
}

.tg-dropdown ul li a {
	color:white;
}

.tg-dropdown ul li a:hover {
	color:#2BB86C;
	text-decoration: none;
}

.tg-dropdown ul li a:focus {
	color:#2BB86C;
	text-decoration: none;
}

.btn-fm {
    background-color: #2EBD59;
    border-radius: 500px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 47px 7px;
    text-transform: uppercase;
    border-color: #2EBD59;
    border: 2px solid #2EBD59;
}

.btn-ct {
    background-color: transparent;
    border-radius: 3px;
    color: #2BB86C;
    font-size: 16px;
    padding: 8px 30px;
    text-transform: uppercase;
    font-weight: bold;
    border-color: #2BB86C;
}

.btn-fm:hover {
  border:2px solid #FFF;
  color:white;
  background-color: transparent;
}

.btn-fm:focus {
  border:2px solid #FFF;
  color:white;
  background-color: transparent;
}

.btn-ct:hover {
	color: #2BB86C;
}

.filter-black {
	background-color: rgba(0, 0, 0, 0.4);
	min-height:75vh;
	width:100%;

}

.contact {
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	background-color:#FAFAFA;
}

.contact-background {
	max-width:620px;
	margin:0 auto;
	flex:1 1 auto;
	padding:0 20px;
}

.form-control {
	border-radius:0px;
	border: 1px solid #2BB86C;
	height: 40px;
	margin-bottom: 25px;
	font-size: 16px;
	color:#020F1A;
}

.visible {
	display:none;
}

.project {
	background-color:white;
  padding-top: 150px;
  padding-bottom: 180px;
}

.left {
	height:100vh;
	position:absolute;
	width:70%;
	background-color:white;
}

.bottom {
	height:50%;
	position:absolute;
	bottom:0px;
	width:30%;
	right:0;
	background-color:#2BB86C;
}

.top {
	height:50%;
	position:absolute;
	top:0px;
	width:30%;
	right:0;
	background-color:#D7474A;
}


.section-title {
	color:#020F1A;
	font-size:30px;
}






.footer {
	height: 200px;
	background-color:#020F1A;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.icon {
	background-color:#2BB86C;
	display:inline-block;
	width:50px;
	height:50px;
	border-radius:50%;
	position:relative;
	margin:0 30px;
}

.icon a {
	color:white;
}

.icon:hover {
  border: 1px solid #2BB86C;
  background-color: transparent;

}
.icon:hover a {

  color:#2BB86C;
}

.made {
	margin-top: 25px;
}
.made i {
	color:#D7474A;
}

.made p {
    font-size: 15px;
    margin-top: 15px;
}



.fa-twitter:before {
	position:absolute;
	bottom: 8px;
	left: 11px;
}

.fa-github:before {
	position:absolute;
	bottom: 8px;
	left: 11px;
}

.fa-linkedin-square:before {
	position:absolute;
	bottom: 8px;
	left: 11px;
}

.footer-flex {
	flex:0 1 auto;
}


// .img-ouipharma {
// 	flex: 0 0 auto;
// }

.left {
	background:url("images/ouipharma-web.png") no-repeat;
	background-size:80%;
	background-position: center;
	background-color: #C0DCD7;
}

.top {
	background:url("images/meuhlogo2.png") no-repeat;
	background-size:80%;
	background-position: center;
	background-color: #F8F0D6;
}

.bottom {
	background:url("images/avipur2.png") no-repeat;
	background-size:80%;
	background-position: center;
	background-color: #C2D4B5;
}

.test {
	background-color:grey;
	width:100%;
	height:100%;
}

.explication {
	flex:1 0 auto;
	color:white;
}

.left .filter-blackblack .explication a {
	color:white;
	font-size:45px;
}

.left .filter-blackblack .explication {
	color:white;
	font-size:50px;
}


.top .filter-blackblack .explication {
	color:white;
	font-size:30px;
}

.bottom .filter-blackblack .explication {
	color:white;
	font-size:30px;
}

.filter-blackblack {
	background-color: rgba(0, 0, 0, 0.85);
	height:100%;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	opacity:0;
}

.filter-blackblack:hover {
	opacity:1;
}
.filter-blackblack:active {
	opacity:1;
}
.filter-blackblack:focus {
	opacity:1;
}

.overflow-hidden {
	overflow-y:hidden !important;
}

.skip {
	position: absolute;
  bottom: 30px;
  width: auto;
  height: auto;
  z-index: 4;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color:white;
}

.pulsing {
	  animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0, 7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.2);
        opacity: 0, 7;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

.plus1, .plus2, .plus3 {
	display:none;
	position: absolute;
	z-index: 4;
	top: 20px;
	right: 20px;
	color:#020F1A;
}





.filter-mobile1, .filter-mobile2, .filter-mobile3 {
	background-color: rgba(0, 0, 0, 0.85);
	height:100%;
	width:100%;
	display:none;
}

.plus1.active , .plus2.active , .plus3.active {
	transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   color:white;
}

.filter-mobile1 .explication a {
	color:white;
	font-size:45px;
	text-decoration:none;
}

.filter-mobile1 .explication a:hover {
	color:white;
	font-size:45px;
	text-decoration:none;
}

.filter-mobile1, .filter-mobile2, .filter-mobile3 .explication {
	color:white;
	font-size:45px;
	text-decoration:none;
}

.filter-mobile2 .explication p {
	font-size:28px;
	margin-top:10px;
	color: #2BB86C;
}

.filter-mobile3 .explication p {
	font-size:28px;
	margin-top:10px;
	color: #2BB86C;
}








@media only screen and (max-width:740px) {
	.tg {
		display:inline-block;
	}
	.navbar-menu {
		display: none;
	}
	.visible {
		display: flex;
    justify-content: center;
    align-items: center;
	}
	.project {
		width:100%;
		height:1200px;
	}
	.left {
		width:100%;
		display:block;
		background-size:100%;
    height: 400px;
	}
	.top {
		width:100%;
		display:block;
    height: 400px;
		position:absolute;
		top:400px;
	}
	.bottom {
		width:100%;
		display:block;
		height:400px;
	}
	.icon {
		margin:0 5px;
	}
	.teaser h2 {
		font-size: 25px;
	}
	.teaser h3 {
		font-size: 25px;
	}
	.jumbo h1 {
	font-weight: 100;
	}
	.plus1, .plus2, .plus3 {
		display:block;
	}
	.filter-blackblack {
	display: none;
	}
/*	.first-bloc {
		height:600px;
	}*/
	.contact {
		height: 600px;
	}
}


@media only screen and (min-width:740px) and (max-width:1024px) {
	.plus1, .plus2, .plus3 {
		display:block;
	}
	.filter-blackblack {
	display: none;
	}
	.visible {
		display: flex;
    justify-content: center;
    align-items: center;
	}

	.filter-mobile2 .explication p {
		font-size:20px;
	}
	.filter-mobile3 .explication p {
		font-size:20px;
	}
	.filter-mobile2 .explication {
		font-size:25px;
	}
	.filter-mobile3 .explication {
		font-size:25px;
	}

	.jumbo h1 {
	font-weight: 100;
	}
}

/* Project box */

.project-title h1 {
  text-align: center;
  font-weight: 700;
  color: #020F1A;
  font-size: 50px;
}


.project-box {
  min-height:375px;
}

.degres {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/95degres.png');
  background-size: cover;
}




